
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='zaini.css')}}">
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>welcome to web saya!</h1>
      <h2>Dibuat Oleh <span>zaini ilham</span></h2>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/tambahdata">Tambah Data</a></li>
        <li><a href="/listdata">List Data</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <div class="content">
      <img src="/static/zaini.jpg" width="150px">
      <h1>Hallo... Saya zaini ilham</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum quibusdam ratione excepturi
          asperiores qui facere! Dolores quis, atque obcaecati nam voluptate repellendus rerum
          exercitationem molestiae possimus eligendi illum beatae quo consectetur incidunt! Provident, 
          quod cupiditate esse eligendi ratione laborum atque.Cum quibusdam ratione excepturi
          asperiores qui facere! Dolores quis, atque obcaecati nam voluptate repellendus rerum
          exercitationem molestiae possimus eligendi illum beatae quo consectetur incidunt! Provident, 
          quod cupiditate esse eligendi ratione laborum atque.
      </p>
    </div>
  </body>
</html>
